.wrap {
    margin-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.content {
    border-right: 2px #cacaca solid;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 15px;
    padding-left: 15px;
}

.content p {
    color: #666;
}

.meta a {
    color: #666 !important;
}

a strong {
    color: #2ea3f2;
}

a span {
    color: #2ea3f2;
}

@media (max-width: 991px) {
    .content {
        border: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wrap {
        margin-top: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 479px) {
    .content h2 {
        font-size: 13px;
    }

    .meta {
        font-size: 12px;
    }
}

.imgArticle {
    width: 30%;
}

.kategori {
    margin-left: 12px !important;
}

.kategori a:hover{
    color: #2ea3f2 !important;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.small-box>.inner {
    padding: 10px;
    color: white;
}

.small-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}